body {
    margin: 0px;
}

a:link {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

a:visited {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

a:hover {
    color: black;
    text-decoration: underline;
    font-weight: 600;
}

a:active {
    color: black;
    text-decoration: underline;
    font-weight: 600;
}

.bg {
    background-color: #D0D0D0;
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.dimmer {
    background-color: #00000060;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.content_bg {
    max-width: 800px;
    height: 100vh;
    margin: auto;
    position: relative;
    background-color: #E0E0E0;
}

.menu_button {
    left: 0px;
    top: 0px;
    width: 20%;
    position: absolute;
    background-color: #F0F0F0;
    border-radius: 10px;
}

.menu_container {
    left: 0px;
    top: 0px;
    width: 300px;
    position: absolute;
    background-color: #E0E0E0;
}

.menu {
    padding: 0px;
    width: 280px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.menu > li {
    list-style: none;
    display: block;
    padding: 0px;
    width: 280px;
    height: 60px;
    line-height: 60px;
    box-sizing: border-box;
    border-radius: 5px;
}

.menu > li:hover {
    background-color: #D0D0D0;
}

li > a {
    margin: 0px;
    display: block;
    width: 100%;
    height: 100%;
    text-indent: 20px;
}

.content {
    overflow-y: scroll;
    margin: auto;
    left: 2.5%;
    width: 95%;
    height: 100%;
    position: relative;
}

.info_popup {
    width: 80%;
    left: 10%;
    top: 10%;
    position: absolute;
    background-color: #E0E0E0;
}

.info_popup_content {
    left: 10%;
    width: 80%;
    position: relative;
}

.info_popup_footer {
    text-align: center;
    width: 100%;
    height: 50px;
}

.player_search {
    width: 80%;
    margin: auto
}

.player_search_text {
    margin: 5%;
    font-size: 150%;
}

.player_search_box {
    width: 60%;
    font-size: 130%;
}

.ranking_table {
    width: 100%;
    margin-top: 2%;
    vertical-align: middle;
}

.ranking_col_1 {
    width: 8%;
}

.ranking_col_2 {
    width: 40%;
}

.ranking_col_3 {
    width: 13%;
}

.ranking_col_4 {
    width: 13%;
}

.ranking_col_5 {
    width: 13%;
}

.ranking_col_6 {
    width: 13%;
}

.ranking_table_header {
    height: 2em;
    vertical-align: middle;
    font-weight: bold;
}

.ranking_table_1 {
    height: 2.0em;
    background-color: #F0F0F0;
    vertical-align: middle;
}

.ranking_table_2 {
    height: 2.0em;
    background-color: #E0E0E0;
    vertical-align: middle;
}



.player_match_table {
    cellpadding: 0;
}

.player_match_col_1 { width: 22%; }
.player_match_col_2 { width: 28%; }
.player_match_col_3 { width: 10%; }
.player_match_col_4 { width: 28%; }

.player_match_table_header {
    align-content: center;
}

.player_match_table_1 {
    background-color: #E8E8E8;
    align-content: center;
    text-align: center;
    vertical-align: middle;
}

.player_match_table_2 {
    background-color: #D8D8D8;
    align-content: center;
    text-align: center;
    vertical-align: middle;
}

.player_match_date {
    font-style: italic;
    font-size: 80%;
}

.player_match_competition {
    font-size: 65%;
}

.player_elo_plus {
    font-weight: bold;
    color: #008000
}

.player_elo_minus {
    font-weight: bold;
    color: #C00000
}

.player_pvp_col_1 { width: 10%; }
.player_pvp_col_2 { width: 40%; }
.player_pvp_col_3 { width: 10%; }
.player_pvp_col_4 { width: 40%; }

.player_pvp_stats {
    font-style: italic;
    font-size: 70%;
}

.player_pvp_1 {
    background-color: #E8E8E8;
    align-content: center;
    text-align: center;
    vertical-align: middle;
}

.player_pvp_2 {
    background-color: #D8D8D8;
    align-content: center;
    text-align: center;
    vertical-align: middle;
}
